﻿@model IEnumerable<DataAccess.Entity.Book>

@{
    ViewBag.Title = "Top 3 Most Read Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Top 3 Most Read Books</h2>

<table class="table">
    <tr>
        <th style="text-align:center;width:170px">
            @Html.Label("Book")
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Summary)
        </th>        
        <th>
            @Html.Label("Genre")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                <img src="@item.ImageUrl" ; width="100" /><br><br>
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4><br><br>
                @foreach (var author in item.Authors)
                {
                    @Html.DisplayFor(modelItem => author.Name)<br>
                }
            </td>

            <td style="width:550px">
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @foreach (var genre in item.Genres)
                {
                    @Html.DisplayFor(modelItem => genre.Name)<br>
                }
            </td>

        </tr>
    }

</table>
