﻿@model IEnumerable<DataAccess.Entity.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books Read</h2>


<table class="table">
    <tr>
        <th style="text-align:center;width:170px">
            @Html.Label("Book")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                <img src="@item.ImageUrl" ; width="100" /><br><br>
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4><br><br>
                @foreach (var author in item.Authors)
                {
                    @Html.DisplayFor(modelItem => author.Name)<br>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            @if (Library.Models.AuthenticationManager.LoggedUser != null)
            {
                var UpdateBookInUserListLink = "/UserBooks/Index?id=" + Library.Models.AuthenticationManager.LoggedUser.Id + "&&bookId=" + item.Id;
                
                <td><a href="@UpdateBookInUserListLink">Remove From List With Read Books</a></td>

            }
        </tr>
    }

</table>
