﻿@model IEnumerable<DataAccess.Entity.Author>

@{
    ViewBag.Title = "Authors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authors</h2>

@if (Library.Models.AuthenticationManager.LoggedUser != null && Library.Models.AuthenticationManager.IsAdmin() == true)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th style="text-align:center;width:170px">
            @Html.Label("Author")
        </th>
        <th style="width:300px">
            @Html.Label("Books")
        </th>        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                <img src="@item.ImageUrl" ; width="100" /><br><br>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach (var book in item.Books)
                {
                    @Html.DisplayFor(modelItem => book.Title)<br>

                }
            </td>            
            @if (Library.Models.AuthenticationManager.LoggedUser != null && Library.Models.AuthenticationManager.IsAdmin() == true)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>
